body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #E0E0E0;

  font-family: "Segoe UI", Arial, Tahoma, Verdana, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

p {
  margin-bottom: 8px;
}

small {
  font-size: 14px;
  color: #A0A0A0;
}
