:root {
  --bg-primary: #121212;
  --bg-secondary: #1E1E1E;
  --bg-tertiary: #2C2C2C;
  

  --text-primary: #E0E0E0;
  --text-secondary: #A0A0A0;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", Arial, Tahoma, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  margin: 0 0 12px 0;
  line-height: 1.2;
}

p {
  margin: 0 0 8px 0;
}

small {
  font-size: 14px;
  color: var(--text-secondary);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
