.show-list li {
    list-style: none;
    margin-bottom: 0.75rem;
    border: 1px solid var(--text-secondary);
    padding: 0.5rem;
    background-color: var(--bg-secondary);
    }

.show-list .section-header {
    margin-bottom: 2rem;  
    }

.show-list input {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.5rem;
    border: 1px solid var(--text-secondary);
    border-radius: 4px;
    font-size: 1rem;
    }

.show-list button {
    margin-left: 1rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--text-secondary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 4px;
    cursor: pointer;
    }

.show-list button:hover {
    background-color: var(--bg-secondary);
}